* {
    margin: 0 auto;
}

h1 + p { color: rgb(44, 198, 124); }
h1 ~ p { font-weight: bold; }
h1 {
    text-shadow: 5px 5px 0px chocolate;
    text-decoration: underline;
}
#signup label {
    float: left;
    font-size: 15px;
    width: 120px;
}
fieldset {
    border: 1px solid salmon;
}
legend {
    font-size: 10px;
    font-weight: bold;
}
#signup input {
    border: 1px solid pink;
}
li {
    list-style: none;
}
#signup input[type = "submit"]{
    background-color: cadetblue;
    color: aliceblue;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
#signup input[type = "submit"]:hover{
    background-color: chartreuse;
}
fieldset:last-of-type {
    border: none;
}
#name, #email, #tel {
    width: 200px;
}